spring:
  profiles:
    active: local
  application:
    name: booking-system
  data:
    mongodb:
      uri: ${MONGO_URI}
  main:
    allow-bean-definition-overriding: true

  jackson:
    mapper:
      default-view-inclusion: false

  mail:
    host: smtp.gmail.com
    port: 587
    # Values pulled from environment variables
    username: ${GMAIL_USER}
    password: ${GMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.data.mongodb: INFO