<div class="fixed top-0 left-0 right-0 z-50 flex items-center justify-between px-6 py-4 bg-slate-900 shadow-sm border-b border-slate-100">
  <div class="flex items-center gap-4">
    <a routerLink="/">
      <img ngSrc="/icon.png" width="34" height="34" alt="logo" class="hover:opacity-80 transition-opacity rounded-full"/>
    </a>
    <h3 class="font-beauty italic tracking-tight text-pink-200 text-xl">BeautyByNguyenHa</h3>
  </div>

  <div class="flex items-center gap-6">
    <a *ngIf="apiService.isLoggedIn() && (userRole === 'STAFF' || userRole === 'ADMIN')"
       routerLink="/staff-dashboard"
       class="text-pink-100 text-sm font-medium hover:text-brand-gold transition-colors">
      Staff Portal
    </a>

    <a *ngIf="apiService.isLoggedIn() && userRole === 'ADMIN'"
       routerLink="/admin-dashboard"
       class="text-pink-100 text-sm font-medium hover:text-brand-gold transition-colors">
      Admin Panel
    </a>
  </div>

  <div class="flex items-center gap-4">
    <button routerLink="/login"
            [hidden]="apiService.isLoggedIn() || isAuthPage"
            class="px-5 py-2 rounded-full bg-pink-200 text-slate-900 font-medium hover:bg-brand-gold transition-all border-rose-100">
      Login
    </button>

    <button (click)="handleLogout()"
            [hidden]="isAuthPage || !apiService.isLoggedIn()"
            class="px-5 py-2 rounded-full bg-slate-800 text-pink-200 font-medium hover:bg-rose-100 hover:text-slate-900 transition-all border border-pink-900/30">
      Log Out
    </button>
  </div>
</div>
